    
  <%= form_for  @login, :url => { :action => "forgot_password" } do |f| %> 
<table >
         <tr>  
                 <td>
                 	<label>Email</label>
                 </td>
				 <td> <%=f.text_field :email %></td>
				 <br/>
         </tr>
         <%=submit_tag "Get Password" %>
</table>

<%end%>